# Basic python

#### Variables

In [6]:
print("Hello world")

msg = "Hello world1"
print(msg)

msg = "Hello world2"
print(msg)

Hello world
Hello world1
Hello world2

In [ ]:
n = "suraphop"
name = "suraphop"
first_name = "suraphop"
firstname = "suraphop"

In [ ]:
#example employee number
employee_number = "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"

In [11]:
#1name= "suraphop"
name_1= "suraphop"
#$name = "suraphop"

#### Data type

String

In [4]:
msg = "Hello world"
msg = 'Hello world'

print("This 's easy to learn python")
print('This "s easy to learn python')

type(msg)

This 's easy to learn python
This "s easy to learn python

str

In [11]:
msg1 = "hello"
msg2 = "world"

print(msg1+msg2)
print(msg1+" "+msg2)
print(msg1+" "+msg2+" python")

#f-string function
print(f'msg1 {msg2}')
print(f'{msg1} {msg2}')
print(f'{msg1} {msg2} python')

helloworld
hello world
hello world python
msg1 world
hello world
hello world python

In [14]:
print("PYTHON".lower())
print("python".upper())

python
PYTHON

#### Numberic

In [19]:
msg = "4"
print(type(msg))
print(msg+"1")

<class 'str'>
41

In [27]:
msg = 4
print(type(msg))
print(msg+1)

<class 'int'>
5

In [29]:
msg = "4"
msg_1 = int(msg)
print(type(msg_1))
print(msg_1+2)

<class 'int'>
6

In [36]:
#float
msg = 2.6
print(type(msg))

print(4+msg)
print(type(4+msg))

print(int(4+msg))

print(round(4+msg))
print(type(round(4+msg)))

<class 'float'>
6.6
<class 'float'>
6
7
<class 'int'>

#### operator

In [37]:
3+4

7

In [38]:
3-4

-1

In [39]:
3*4

12

In [40]:
3/4

0.75

In [41]:
3*4

12

In [44]:
print(4/3)
print(round(4/3,2))
print(round(4/3,5))

1.3333333333333333
1.33
1.33333

## Data structures

#### Lists

In [48]:
file_name = "one.xlsx"

file_names = ["one.xlsx","two.xlsx","three.xlsx"]
file_names = [1,2,3]
file_names = ["one.xlsx",2,"three.xlsx"]
print(type(file_names))

<class 'list'>