# Basic python

#### Variables

In [ ]:
print("Hello world")

msg = "Hello world1"
print(msg)

msg = "Hello world2"
print(msg)

In [ ]:
n = "suraphop"
name = "suraphop"
first_name = "suraphop"
firstname = "suraphop"

In [ ]:
#example employee number
employee_number = "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"

In [ ]:
#1name= "suraphop"
name_1= "suraphop"
#$name = "suraphop"

#### Data type

String

In [ ]:
msg = "Hello world"
msg = 'Hello world'

print("This 's easy to learn python")
print('This "s easy to learn python')

type(msg)

In [ ]:
msg1 = "hello"
msg2 = "world"

print(msg1+msg2)
print(msg1+" "+msg2)
print(msg1+" "+msg2+" python")

#f-string function
print(f'msg1 {msg2}')
print(f'{msg1} {msg2}')
print(f'{msg1} {msg2} python')

In [ ]:
print("PYTHON".lower())
print("python".upper())

#### Numberic

In [ ]:
msg = "4"
print(type(msg))
print(msg+"1")

In [ ]:
msg = 4
print(type(msg))
print(msg+1)

In [ ]:
msg = "4"
msg_1 = int(msg)
print(type(msg_1))
print(msg_1+2)

In [ ]:
#float
msg = 2.6
print(type(msg))

print(4+msg)
print(type(4+msg))

print(int(4+msg))

print(round(4+msg))
print(type(round(4+msg)))

#### operator

In [ ]:
3+4

In [ ]:
3-4

In [ ]:
3*4

In [ ]:
3/4

In [ ]:
3*4

In [ ]:
print(4/3)
print(round(4/3,2))
print(round(4/3,5))

## Data structures

#### Lists

In [ ]:
file_name = "one.xlsx"

file_names = ["one.xlsx","two.xlsx","three.xlsx"]
file_names = [1,2,3]
file_names = ["one.xlsx",2,"three.xlsx"]
print(type(file_names))

In [ ]:
#index
print(file_names)
print(file_names[0])
print(type(file_names[0]))
print(file_names[1])
print(file_names[2])

#reverse index
print(file_names[-1])
print(file_names[-2])
print(file_names[-3])

In [ ]:
#slice

print(file_names[0:1])
print(type(file_names[0:1]))
print(file_names[0:2])
print(file_names[0:3])

print(file_names[0:-1])
print(file_names[0:-2])

print(file_names[:1])
print(file_names[1:])
print(file_names[:])
print(file_names)

#### Dictionaries

In [ ]:
exchange_rates = {"EURUSD":1.1152 , "GBPUSD":1.2452 , "AUDUSD": 0.6161}
print(type(exchange_rates))

print(exchange_rates["EURUSD"])
print(exchange_rates["GBPUSD"])
print(exchange_rates["AUDUSD"])

#### Tuple

In [ ]:
currencies = ("EUR","GBP","AUD")
print(type(currencies))

list_currencies = ["EUR","GBP","AUD"]
print(type(list_currencies))

list_currencies.append("XUD")
print(list_currencies)

# currencies.append("XUD")
# print(currencies)

## Control flow

#### if statement

In [ ]:
# > ,< ,<= ,>= ,==, !=

i=6
print(i<5)
print(i>5)
print(i<=5)
print(i>=5)
print(i==5)
print(i!=5)

In [ ]:
i=2 

if i<5:
    print("i is smaller than 5")

In [ ]:
i =14

if i<5:
    print("i is smaller than 5")
elif i<=10:
    print("i is between 5 and 10")
elif i<=15:
    print("i is between 10 and 15")
else:
    print("out of range")

#### for loop

In [ ]:
currencies = ["USD","HKD","AUD"]
currencies[0]
currencies[1]
currencies[2]

In [ ]:
for currencie in currencies:
    print(currencie)

In [ ]:
for i in currencies:
    print(i)

In [ ]:
for currencie in currencies:
    if currencie == "HKD":
        print(currencie)

In [ ]:
for currencie in currencies:
    if currencie != "HKD":
        print(currencie)

In [ ]:
exhange_rates = {"EURUSD":1.1152,"GBPUSD":1.2452,"AUDUSD":0.6161}

for exhange_rate in exhange_rates:
    print(exhange_rate)

In [ ]:
for exhange_rate in exhange_rates.keys():
    print(exhange_rate)

In [ ]:
for exhange_rate in exhange_rates.values():
    print(exhange_rate)

In [ ]:
for exhange_rate in exhange_rates.items():
    print(exhange_rate)

#### loop structure

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

In [ ]:
for i in range(10):
    if i==5:
        continue
    else:
        print(i)

## Special function

#### Try except

In [ ]:
try:
    msg = "hello world"
    int(msg)
except:
    print("error")

In [ ]:
try:
    msg = "hello world"
    int(msg)
except Exception as error:
    print(f"error : {error}")

#### Split

In [ ]:
msg = "test.xlsx"

list_msg = msg.split(".")
print(list_msg)
print(list_msg[0])
print(list_msg[-1])

In [ ]:
msg = "nat_mcstatus_gd_ic02r.txt"
division = None
process = None 
mc_name = None

msg_lists = msg.split("_")
division = msg_lists[0]
process = msg_lists[-2]
mc_name= msg_lists[-1].split(".")[0]

print(division)
print(process)
print(mc_name)

#### len

In [ ]:
msg = "suraphop"
len(msg)

#### Strip

In [ ]:
msg = " Suraphop "
print(len(msg))
msg = msg.strip()
print(len(msg))
print(msg)

## Function

In [ ]:
#fucntion
def test():
    """for print hello world"""
    print("hello world")

test()

In [ ]:
def calulation_plus():
    """plus digit"""
    digit_1 = 10
    ditgit_2 = 15
    result = digit_1+ditgit_2
    print(result)

calulation_plus()

#print(digit_1)

In [9]:
def calulation_plus(digit_1,ditgit_2):
    """plus digit"""
    result = digit_1+ditgit_2
    print(result)

calulation_plus(50,24)
calulation_plus(23,10)

74
33

In [11]:
def calulation_minus(digit_1,ditgit_2):
    """minus digit"""
    result = digit_1-ditgit_2
    print(result)

calulation_minus(50,24)
calulation_minus(24,50)

26
-26

In [19]:
def calulation_minus(digit_1,ditgit_2):
    """minus digit"""
    result = digit_1-ditgit_2
    #print(result)
    return result

calulation_minus(ditgit_2=50,digit_1=24)
calulation_minus(24,50)
calulation_minus(calulation_minus(ditgit_2=50,digit_1=24),10)

-36

In [11]:
def calulation_minus(digit_1,ditgit_2=24):
    """minus digit"""
    result = digit_1-ditgit_2
    #print(result)
    return result
    
#calulation_minus(50)
calulation_minus(50,20)

30

## Mudule

In [2]:
import calculation

print(calculation.calulation_minus(45,23))
print(calculation.calulation_plus(45,23))

22
68

In [4]:
import calculation as cal 
cal.calulation_minus(32,13)

19

In [7]:
from calculation import calulation_plus,calulation_minus

calulation_plus(23,32)
calulation_minus(22,23)

-1

#### Example 

convert celsius to fahrenite,kelvin 

-input ใส่ค่าอุณหภูมิ , fahrenhite,kelvin 
- สูตรคำนวน (degrees-32)*(5/9) # fahrenhite ทศนิยม 2 ตำแหน่ง
- สูตรคำนวน degrees -273.15 # kelvin ทศนิยม 2 ตำแหน่ง
- ถ้าใส่ค่านอกเหนือจาก fahrenhite,kelvin โปรแกรมจะบอกว่า  "ไม่รุ้จักค่านี้ให้ใส่ค่าใหม่"
- ถ้าไม่ใส่หน่วยอุณหภูมิให้โปรแกรมคิดว่า fahrenhite

In [12]:
def convert_celsius(degrees,source="farenhite"):
    """convert celsius to farenhite or kelvin"""
    try:
        if source.lower() == "farenhite":
            result = round((float(degrees)-32)*(5/9),2)
        elif source.lower() == "kelvin":
            result = round(float(degrees)-273.15,2)
        else:
            result = "Don't know a source"
        return result
    except:
        result = "degrees mistake"
        return result

In [13]:
print(convert_celsius(100,'farenhite'))
print(convert_celsius(100,'kelvin'))
print(convert_celsius(100,'farenhite1'))
print(convert_celsius(float("100"),'farenhite'))
print(convert_celsius("100",'farenhite'))
print(convert_celsius("asdasd",'farenhite'))
print(convert_celsius("100",'Farenhite'))
print(convert_celsius("100",'Kelvin'))
print(convert_celsius("100"))

37.78
-173.15
Don't know a source
37.78
37.78
degrees mistake
37.78
-173.15
37.78

In [27]:
def convert_celsius(degrees,source="farenhite"):
    """convert celsius to 
    kelvin or farenhite"""
    try:
        if source.lower() == "farenhite":
            result  = round((float(degrees)-32)*(5/9),2)
        elif source.lower() == "kelvin":
            result = round(float(degrees) -273.15,2)
        else:
            result = "Don't know the source"
        return result
    except:
        result = "degrees mistake"
        return result


print(convert_celsius(100,'farenhite'))
print(convert_celsius(100,'kelvin'))
print(convert_celsius(100,'farenhite1'))
print(convert_celsius(float("100"),'farenhite'))
print(convert_celsius("100",'farenhite'))
print(convert_celsius("asdasd",'farenhite'))
print(convert_celsius("100",'Farenhite'))
print(convert_celsius("100",'Kelvin'))
print(convert_celsius("100"))

37.78
-173.15
Don't know the source
37.78
37.78
degrees mistake
37.78
-173.15
37.78