# Basic python

#### Variables

In [6]:
print("Hello world")

msg = "Hello world1"
print(msg)

msg = "Hello world2"
print(msg)

Hello world
Hello world1
Hello world2

In [ ]:
n = "suraphop"
name = "suraphop"
first_name = "suraphop"
firstname = "suraphop"

In [ ]:
#example employee number
employee_number = "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"

In [11]:
#1name= "suraphop"
name_1= "suraphop"
#$name = "suraphop"

#### Data type

String

In [4]:
msg = "Hello world"
msg = 'Hello world'

print("This 's easy to learn python")
print('This "s easy to learn python')

type(msg)

This 's easy to learn python
This "s easy to learn python

str

In [11]:
msg1 = "hello"
msg2 = "world"

print(msg1+msg2)
print(msg1+" "+msg2)
print(msg1+" "+msg2+" python")

#f-string function
print(f'msg1 {msg2}')
print(f'{msg1} {msg2}')
print(f'{msg1} {msg2} python')

helloworld
hello world
hello world python
msg1 world
hello world
hello world python

In [14]:
print("PYTHON".lower())
print("python".upper())

python
PYTHON

#### Numberic

In [19]:
msg = "4"
print(type(msg))
print(msg+"1")

<class 'str'>
41

In [27]:
msg = 4
print(type(msg))
print(msg+1)

<class 'int'>
5

In [29]:
msg = "4"
msg_1 = int(msg)
print(type(msg_1))
print(msg_1+2)

<class 'int'>
6

In [36]:
#float
msg = 2.6
print(type(msg))

print(4+msg)
print(type(4+msg))

print(int(4+msg))

print(round(4+msg))
print(type(round(4+msg)))

<class 'float'>
6.6
<class 'float'>
6
7
<class 'int'>

#### operator

In [37]:
3+4

7

In [38]:
3-4

-1

In [39]:
3*4

12

In [40]:
3/4

0.75

In [41]:
3*4

12

In [44]:
print(4/3)
print(round(4/3,2))
print(round(4/3,5))

1.3333333333333333
1.33
1.33333

## Data structures

#### Lists

In [48]:
file_name = "one.xlsx"

file_names = ["one.xlsx","two.xlsx","three.xlsx"]
file_names = [1,2,3]
file_names = ["one.xlsx",2,"three.xlsx"]
print(type(file_names))

<class 'list'>

In [56]:
#index
print(file_names)
print(file_names[0])
print(type(file_names[0]))
print(file_names[1])
print(file_names[2])

#reverse index
print(file_names[-1])
print(file_names[-2])
print(file_names[-3])

['one.xlsx', 2, 'three.xlsx']
one.xlsx
<class 'str'>
2
three.xlsx
three.xlsx
2
one.xlsx

In [68]:
#slice

print(file_names[0:1])
print(type(file_names[0:1]))
print(file_names[0:2])
print(file_names[0:3])

print(file_names[0:-1])
print(file_names[0:-2])

print(file_names[:1])
print(file_names[1:])
print(file_names[:])
print(file_names)

['one.xlsx']
<class 'list'>
['one.xlsx', 2]
['one.xlsx', 2, 'three.xlsx']
['one.xlsx', 2]
['one.xlsx']
['one.xlsx']
[2, 'three.xlsx']
['one.xlsx', 2, 'three.xlsx']
['one.xlsx', 2, 'three.xlsx']

#### Dictionaries

In [72]:
exchange_rates = {"EURUSD":1.1152 , "GBPUSD":1.2452 , "AUDUSD": 0.6161}
print(type(exchange_rates))

print(exchange_rates["EURUSD"])
print(exchange_rates["GBPUSD"])
print(exchange_rates["AUDUSD"])

<class 'dict'>
1.1152
1.2452
0.6161

#### Tuple

In [77]:
currencies = ("EUR","GBP","AUD")
print(type(currencies))

list_currencies = ["EUR","GBP","AUD"]
print(type(list_currencies))

list_currencies.append("XUD")
print(list_currencies)

# currencies.append("XUD")
# print(currencies)

<class 'tuple'>
<class 'list'>
['EUR', 'GBP', 'AUD', 'XUD']

## Control flow

#### if statement

In [83]:
# > ,< ,<= ,>= ,==, !=

i=6
print(i<5)
print(i>5)
print(i<=5)
print(i>=5)
print(i==5)
print(i!=5)

False
True
False
True
False
True

In [88]:
i=2 

if i<5:
    print("i is smaller than 5")

i is smaller than 5

In [94]:
i =14

if i<5:
    print("i is smaller than 5")
elif i<=10:
    print("i is between 5 and 10")
elif i<=15:
    print("i is between 10 and 15")
else:
    print("out of range")

i is between 10 and 15

#### for loop

In [99]:
currencies = ["USD","HKD","AUD"]
currencies[0]
currencies[1]
currencies[2]

'AUD'

In [103]:
for currencie in currencies:
    print(currencie)

USD
HKD
AUD

In [104]:
for i in currencies:
    print(i)

USD
HKD
AUD

In [115]:
for currencie in currencies:
    if currencie == "HKD":
        print(currencie)

HKD

In [106]:
for currencie in currencies:
    if currencie != "HKD":
        print(currencie)

USD
AUD

In [107]:
exhange_rates = {"EURUSD":1.1152,"GBPUSD":1.2452,"AUDUSD":0.6161}

for exhange_rate in exhange_rates:
    print(exhange_rate)

EURUSD
GBPUSD
AUDUSD

In [109]:
for exhange_rate in exhange_rates.keys():
    print(exhange_rate)

EURUSD
GBPUSD
AUDUSD

In [108]:
for exhange_rate in exhange_rates.values():
    print(exhange_rate)

1.1152
1.2452
0.6161

In [110]:
for exhange_rate in exhange_rates.items():
    print(exhange_rate)

('EURUSD', 1.1152)
('GBPUSD', 1.2452)
('AUDUSD', 0.6161)

#### loop structure

In [116]:
for i in range(5):
    print(i)

0
1
2
3
4

In [117]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [118]:
for i in range(10):
    if i==5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9