#### Pandas

- รวมข้อมูล (concat)

- clean data
  - ลบข้อมูล null
  - ลบข้อมูลซ้ำ
  - เลือก column เฉพาะที่ใช้
  - แก้ไขชื่อ column
  - เพิ่ม column คำนวนข้อมูล
  
- filter ข้อมูล (vlookup)
- unique
- fillnan
- pivot
- export excel

In [ ]:
#install
#!pip install openpyxl

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(r"D:\My Documents\Desktop\python_office_11_OCT_2023\src\data\intro_pandas\employee.xlsx")

In [ ]:
type(df)

In [ ]:
df

In [ ]:
df_2 = pd.read_excel(r"D:\My Documents\Desktop\python_office_11_OCT_2023\src\data\intro_pandas\employee_2.xlsx")

In [ ]:
df_2

#### Concat

In [ ]:
df_total = pd.concat([df,df_2])
df_total

#### reset index

In [ ]:
df_reset_index = df_total.reset_index(drop=True)
df_reset_index

#### Drop duplicate

In [ ]:
boolean = df_reset_index['emp_name'].duplicated().any()
print(boolean)
print(len(df_reset_index))

df_dup = df_reset_index.drop_duplicates(["emp_name"])
print(len(df_dup))
boolean = df_dup['emp_name'].duplicated().any()
print(boolean)
df_dup

#### Drop Null

In [ ]:
print(df_dup.isnull().values.any())
print(len(df_dup))

df_null = df_dup.dropna()
print(len(df_null))
print(df_null.isnull().values.any())

df_null

#### calculate df

In [ ]:
import datetime 

year = datetime.date.today().year
print(year)

df_age = df_null.assign(age= year-df_null["birthday year"])
df_age

In [ ]:
df_age[["name","surname"]] = df_age["emp_name"].str.split(expand=True)
df_age

#### custom columns

In [ ]:
df_col = df_age[["name","surname","age","country"]]
df_col

#### edit columns name

In [ ]:
df_edit_name = df_col.rename(columns={'name':"first name","surname":"last name"})
df_edit_name

#### selecting data

In [ ]:
df_lookup = df_edit_name.copy()

df_lookup_1 = df_lookup[df_lookup["age"] > 100]
df_lookup_1

df_lookup_2 = df_lookup[(df_lookup["age"] > 30) & (df_lookup["age"] < 100)]
df_lookup_2

df_lookup_3 = df_lookup[(df_lookup["country"] == "US") | (df_lookup["country"] == "THA")]
df_lookup_3

#### unique

In [ ]:
df_unique = df_lookup["country"].unique()
#df_unique = df_lookup["last name"].unique()
df_unique

#### pivot

In [ ]:
df_pivot = pd.pivot_table(df_lookup,
                index="last name",
                columns="country",
                values="age",
                aggfunc="count")
df_pivot

#### fillna

In [ ]:
df_fillna = df_pivot.fillna(0)
df_fillna

#### export

In [ ]:
df_fillna.to_csv("export\pivot_surname.csv")

#### example

In [ ]:
print(df_lookup["country"].unique())

df_add_contry = df_lookup.copy()
df_add_contry.loc[58] = ["suraphop", "bunsawat",23, "SPA"]
print(df_add_contry["country"].unique())
# print(df_lookup)
# print(df_split_contry)

In [ ]:
def csv_sort_country(df):
    """sorted data by country"""
    country_lists = df["country"].unique()
    for i in range(len(country_lists)):
        df_result = df[df["country"] == country_lists[i]]
        df_result.to_csv(f"export\df_sorted_{country_lists[i]}.csv",index=False)
        
csv_sort_country(df_lookup) #df_split_contry,df_lookup